.npmrc

.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

.vscode/

cmake-build-*/

build/

node_modules/

docs/craft/

package-lock.json

test/temp/

/**/**/.DS_Store
cmake_install.cmake

.cache/
CMakeFiles/